<!DOCTYPE html>
<html className="master-html">
  <head>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <title>ToneFeed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="livereload.js"></script>

    <% if current_user %>
    <%# //this "bootstraps" window.currentUser to the window/console %>
    <%# //code can access window.currentUser, then gets deleted %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>",
        };
      </script>
    <% end %>
    <%# //libraries in the header %>
  </head>

  <body class="root">
    <div class="root-two">
      <div class="navbar-background"></div>
      <% @current_user %>
      <%= yield %> 
    </div>
  </body>
</html>
